<a href="https://colab.research.google.com/github/ElijahAranzamendez/PLNG211-QC/blob/main/Control_and_Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#If Statement

a = 100
b = 100

if a < b:
  print("a is less than b")

In [5]:
#Elif Statement
if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")

In [6]:
if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")
else: 
  print("a is equal to b")

a is equal to b

In [7]:
#Short hand  if statement

c = 5
d = 10

if c>d: print("c>d")

In [8]:
#Short hand if... else statement
print('c > d') if c>d else print('d > c')

d > c

In [9]:
#And statement 
if 5>10 and 8>4:
  print("both statements are true")
else:
  print("One of the statements is false/ both statements are not true")

One of the statements is false/ both statements are not true

In [11]:
#Or statement
if 5 > 10 or 4 > 8:
  print("true")
else:
  print("false")

false

In [12]:
#Bitwise operator ^ (xor)
e = 4
f = 2

e^f

6

In [14]:
#Nested if statement
x = 39
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x> 40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
          print("number is less than 50")
      else:
          print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is less than 40

In [19]:
#APPLICATION 1: Write a program that determines if the input age is qualified ti vote or not.
#The Qualifying age is 18 years old and above.

Age = int(input("What is your age?: "))

if Age >= 18:
  print("You are qualified to vote!")
else:
  print("You are not qualified to vote!")

What is your age?: 20
You are qualified to vote!

In [33]:
#APPLICATION 2: Write a program that determines if the input number is POSITIVE, NEGATIVE, or Zero.

Number = int(input("Enter a number: "))

if Number > 0:
  print("POSITIVE")
elif Number <0:
  print("NEGATIVE")
elif Number == 0:
  print("ZERO")
else:
  print("Wrong Variable!")

Enter a number: 34
POSITIVE

In [34]:
#For loop Statement
Week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in Week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [36]:
Week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in Week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [37]:
Week = ["Sunday", "Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in Week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [38]:
for x in "week":
  print(x)

w
e
e
k

In [39]:
#range() Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6+1,1):
  print(x)

In [40]:
Adjective = ["Red", "Big", "Tasty"]
Fruits = ["apple", "banana","cherry"]
for x in Adjective:
  for y in Fruits:
    print(x,y)

Red apple
Red banana
Red cherry
Big apple
Big banana
Big cherry
Tasty apple
Tasty banana
Tasty cherry

In [41]:
i = 1
while i <= 6:
  print(i)
  i += 1

1
2
3
4
5
6

In [43]:
i = 1
while i <= 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [85]:
#APPLICATION 3: using while loop and break statement, the output is only 3

i = 1
while i != 3:
  i += 1
  if i == 3:
    print(i)

3