<a href="https://colab.research.google.com/github/ElijahAranzamendez/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Indentation

In [ ]:
#This is an example of Python Indentation
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

### Python Variable

In [ ]:
x = 1
a, b = 0, -1
a = 9
c = "sally"
c = "Danny"
print (a)
print (c)
c = "Maria"
print (c)

9
Danny
Maria

### Casting

In [ ]:
d = int(4)
print(d)
e = float (4)
print(e)

4
4.0

### Type () Function

In [ ]:
print (type(d))
print (type(e))

<class 'int'>
<class 'float'>

### Single Quote or Double Quote

In [ ]:
f = "Maria"
print(f)
g = 'Ana'
print(g)

Maria
Ana

### Multiple Variables

In [ ]:
x, y, z = 4, 5, 6
print (x)
print (y)
print (z)

4
5
6

### Single Value to Multiple Variables

In [ ]:
x = y = z = 'Lilo'
print (x)
print (y)
print (z)

Lilo
Lilo
Lilo

### Output Variable using Print and +

In [ ]:
s = "Python is"
t = "enjoying"
print("Python is" + " " + t)

print(s+' '+t)

Python is enjoying
Python is enjoying

### Arithmetic

In [ ]:
x = 1
y = 2
sum = x + y
sum
print (x)
print (y)
print (sum)

#Modulo Division 
l = 4 % 2
print ("4 % 2 =", l)

#Floor Division
k = 3//2
print("3//2= ", k)

1
2
3
4 % 2 = 0
3//2=  1

### Assignment Operator

In [ ]:
x = 1
x += 1
print (x)

2

### Logical Operator

In [ ]:
q = 1
r = 4
q > r and r==r

False